<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeApplicationForStudent"
        tools:targetApi="31">
        <activity
            android:name="com.deepak.collegemanagementapp.activities.DashBoardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.deepak.collegemanagementappdemo.activities.AdminAddEventActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.AdminDashBoardActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.StudentRegisterActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.StudentLoginActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.StudentDashBoardActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.AdminLoginActivity" />
        <activity android:name="com.deepak.collegemanagementapp.activities.EventStudentListActivity" />
    </application>

</manifest>